body {
  margin: 0;
  font: 500 16px/1.3 system-ui;
  color: black;
  background: snow;
}

.popup {
  width: 370px;
  padding: 15px;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  text-align: center;
  gap: 15px;
}
.header img {
  width: 48px;
  height: 48px;
}
.header h1 {
  margin: 0;
  font: 700 25px/1.3 system-ui;
  color: DodgerBlue;
}

.footer-buttons {
  display: grid;
  grid-template-columns: 1.25fr 1fr 1fr;
  gap: 5px;
  margin-top: 15px;
}

.footer-button {
  padding: 10px 15px;
  background: mistyrose;
  border-radius: 20px;
  color: dodgerblue;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s, color 0.2s;
  text-align: center;
}
.footer-button:hover {
  transform: translateY(-2px);
  color: royalblue;
}

#homepage-btn {
  background: bisque;
}
